.conversation {
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
  }
  
  .message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .message_role {
    font-weight: bold;
  }
  
  .message_content {
    margin-left: 5px;
  }
  
  .user_message {
    background-color: #f0f0f0;
    color: #000;
    text-align: right;
    
  }
  
  .assistant_message {
    background-color: #7db1ee;
    color: black;
  }
  
  .textInput {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .submitButton {
    /* add a little space above the button */
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0070f3;
    color: #fff;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  