/* make the svg line up with the text */
.linkedinBadge {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;

}

/* make the bold text centered with the linkedin badge */
.b {
    display: inline-block;
    vertical-align: middle;
}
/* slightly blue background */
.linkedinContainer {
    background-color: #eef3f8;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
